exclude .readthedocs.yml
exclude tox.ini
exclude *.swp
prune conf

# Include the README
include *.md

# Include the license file
include COPYING

include *.yapf
include *.txt

recursive-include v2x *.py

# Include the preparation script
include prepareenv.sh

# Docs
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs *.yml
recursive-include docs Makefile
recursive-include docs *.rst.template
prune docs/_*
prune docs/env

# Tests
graft tests
