# Dependencies from setup.py's install_requires + setup_requires
-e git+https://github.com/chipsalliance/vtr-xml-utils.git#egg=vtr-xml-utils
-e .

# Required for development
check-manifest
docutils
flake8
pylint
pytest
pytest-runner
readme_renderer
tox
yapf==0.24.0
