git+http://github.com/SymbiFlow/sphinx_materialdesign_theme.git@master#egg=sphinx_symbiflow_theme

docutils
sphinx-autobuild

recommonmark
sphinx-markdown-tables
sphinxcontrib-napoleon

# Markdown cross-reference solver library
git+https://github.com/SymbiFlow/sphinxcontrib-markdown-symlinks.git#egg=markdown_code_symlinks

# Verilog diagrams using Yosys + netlistsvg
sphinxcontrib-verilog-diagrams

# Module diagrams
git+https://github.com/SymbiFlow/symbolator.git#egg=symbolator

pycairo
# vext.gi
