git+http://github.com/SymbiFlow/sphinx_symbiflow_theme.git@master#egg=sphinx_symbiflow_theme

docutils
sphinx-autobuild

recommonmark
sphinx-markdown-tables
sphinxcontrib-napoleon

# Markdown cross-reference solver library
git+https://github.com/SymbiFlow/sphinxcontrib-markdown-symlinks.git@master#egg=markdown_code_symlinks

# HDL diagrams using Yosys + netlistsvg
git+https://github.com/SymbiFlow/sphinxcontrib-hdl-diagrams.git@master#egg=sphinxcontrib-hdl-diagrams

pycairo
# vext.gi

# V2X
-e ../

# XML utils
git+https://github.com/SymbiFlow/vtr-xml-utils.git#egg=vtr-xml-utils
