git+http://github.com/SymbiFlow/sphinx_materialdesign_theme.git@master#egg=sphinx_symbiflow_theme

docutils
sphinx-autobuild

recommonmark
sphinx-markdown-tables
sphinxcontrib-napoleon

# Markdown cross-reference solver library
git+https://github.com/SymbiFlow/sphinxcontrib-markdown-symlinks.git#egg=markdown_code_symlinks

# Verilog diagrams using Yosys + netlistsvg
git+https://github.com/SymbiFlow/sphinxcontrib-verilog-diagrams.git@dca04723ec07209bd7be3e883e780ca9dd4f271e#egg=sphinxcontrib-verilog-diagrams

# Module diagrams
symbolator

pycairo
# vext.gi
